
**/.vscode
jenkins-bkp.tar.gz

# Terraform directories and files
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl

# Environment files
**/.env

# SSH keys
**azureuser_rsa*

# Temporary and to-do files
**/ToDo

# Terraform variable files
**/global_*.tfvars
