<VirtualHost *:80>
  ServerAdmin support.c4e.infra@michelin.com
  ServerName {{ site_url }}
  DocumentRoot {{ doc_root }}/{{ site_user }}/web
  DirectoryIndex index.php index.html
  ErrorLog {{ doc_root }}/{{ site_user }}/logs/{{ site_user }}-error.log
  CustomLog {{ doc_root }}/{{ site_user }}/logs/{{ site_user }}-access.log combined

    <Directory {{ doc_root }}/{{ site_user }}/web>
      Options -Indexes -Includes +FollowSymLinks +MultiViews
      AllowOverride All
      Order Allow,Deny
      Allow from all
      Require all granted
    </Directory>

  ProxyPassMatch "^/(.*\.php(/.*)?)$" "unix:{{ phpfpmsock }}/{{ site_user }}.sock|fcgi://localhost{{ doc_root }}/{{ site_user }}/web"
</VirtualHost>