<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>site_url</name>
          <description>Please fill site name (FQDN). Please do not use http:// or https://. No trailing /</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.8.6">
          <name>env</name>
          <randomName>choice-parameter-109883846587175</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1369.v9b_98a_4e95b_2d">
              <script>return[&apos;indus&apos;, &apos;prod&apos;]</script>
              <sandbox>true</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1369.v9b_98a_4e95b_2d">
              <script></script>
              <sandbox>true</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>Add_New_Site</projectName>
          <projectFullName>Web_Hosting/Add_New_Site</projectFullName>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.8.6">
          <name>site_type</name>
          <randomName>choice-parameter-108453617134528</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1369.v9b_98a_4e95b_2d">
              <script>return[&apos;html&apos;, &apos;php&apos;]</script>
              <sandbox>true</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1369.v9b_98a_4e95b_2d">
              <script></script>
              <sandbox>true</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>Add_New_Site</projectName>
          <projectFullName>Web_Hosting/Add_New_Site</projectFullName>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.8.6">
          <name>php_version</name>
          <randomName>choice-parameter-108656354706473</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1369.v9b_98a_4e95b_2d">
              <script>if (site_type == &quot;php&quot;) {
return[&apos;php8.3&apos;]
}

if (site_type == &quot;html&quot;) {
return[&apos;NA&apos;]
}</script>
              <sandbox>true</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1369.v9b_98a_4e95b_2d">
              <script></script>
              <sandbox>true</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>Add_New_Site</projectName>
          <projectFullName>Web_Hosting/Add_New_Site</projectFullName>
          <parameters class="linked-hash-map"/>
          <referencedParameters>site_type</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ -z &quot;$site_url&quot; ]; then
    echo &quot;URL cannot be empty&quot;
    exit 1
fi

# Transform site_url for Indus environment
if [ &quot;$env&quot; = &quot;indus&quot; ]; then
    site_url=$(echo &quot;${site_url}&quot; | tr &apos;.&apos; &apos;-&apos;).ilearndevops.in
fi

# Handle HTML site deployment
if [ &quot;${site_type}&quot; = &quot;html&quot; ]; then
	echo Adding html site ${site_url} on ${env}
    sudo ansible-playbook --extra-vars &quot;site_url=${site_url} env=${env}&quot; /data/ansible/playbooks/html_site_add.yml
fi

# Handle PHP site deployment
if [ &quot;${site_type}&quot; = &quot;php&quot; ]; then
	echo Adding php ${php_version} site ${site_url} on ${env}
    sudo ansible-playbook --extra-vars &quot;site_url=${site_url} php_version=${php_version} env=${env}&quot; /data/ansible/playbooks/php_site_add.yml
fi</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>